*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(29, 10, 67);
    color: white;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        top: 10vw;
        position: absolute;
        color: rgba(255, 255, 255, 0.209);
        font-size: 10vw;
    }
}
// navbar // 
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 75vw;
    align-items: center;
    
    h3{
        font-size: 2vw;

    }
    .add{
        button{
          position: relative;
          width:5vw;
          height:5vw;
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .cardForm{
            position: absolute;
            top: 8vw;
            right: 7vw;
            backdrop-filter: blur(15px);
            background-color: rgba(35, 11, 105, 0.448);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
            border: 1px solid rgb(106, 102, 102);
            border-radius: 5px;
            padding: 2vw;
            input{
               border: none;
               outline: none;
               padding: 1vw 2vw;
               border-radius: 5px;
            }
            button{
                border: none;
                outline: none;
                cursor: pointer;
                width: 9vw;
                height: 2.5vw;
                border-radius: 5px;
            }
        }
    }
}

// navbar //